<div form>
    <form>
        <div>
            <div class="c_Input">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" autocomplete="on">
            </div>
            <div class="c_Input">
                <label for="telf">Telf</label>
                <input type="tel" name="telf" id="telf" autocomplete="on">
            </div>

        </div>
        <div class="c_Input">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" id="fecha" autocomplete="on">
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>